@page "/logstable"
@using IndoorMappingWebsite.Models
@using IndoorMappingWebsite.Services
@attribute [StreamRendering]
@inject ILogService LogService
@inject IUserService userService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager
<PageTitle>logstable</PageTitle>

<style>
    body {
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f8f9fa;
    }

    /* Navbar Styles */
    .navbarList {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: darkred;
        padding: 0 20px;
        list-style: none;
        margin: 0;
        height: 60px;
    }

    .logo a {
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
    }

    .navbarItem {
        margin-left: 15px;
    }

        .navbarItem a {
            color: white;
            text-decoration: none;
            padding: 10px 16px;
            border-radius: 6px;
            transition: background-color 0.3s ease;
        }

            .navbarItem a:hover:not(.active) {
                background-color: #540000;
            }

            .navbarItem a.active {
                background-color: gray;
            }

    /* Center container and buttons */
    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 60px);
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

        .center-container h1 {
            margin-bottom: 3rem;
            font-size: 2rem;
            color: #343a40;
        }

    /* Filter input */
    .search-bar {
        margin-bottom: 1.5rem;
        width: 100%;
        max-width: 500px;
    }

        .search-bar input {
            width: 100%;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid #ced4da;
            font-size: 1.1rem;
        }

    /* Table Container */
    .table-container {
        width: 80%;
        height: calc(100vh - 200px);
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-top: 2rem;
        margin-bottom: 0;
        padding: 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        padding: 0;
    }

    th, td {
        vertical-align: middle;
        text-align: center;
        padding: 12px;
        font-size: 1.1rem;
    }

    th {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }

    thead {
        position: sticky;
        top: 0;
        background-color: darkred;
    }

    button {
        width: 80px;
    }

    .addbtn {
        background-color: darkred;
        position: sticky;
        bottom: 0;
    }

    input {
        text-align: center;
    }

    .canto-inferior-direito {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px;
        background-color: @messageColor;
        border-radius: 16px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }
</style>
@if (message != "" && message != null)
{
    <div class="canto-inferior-direito">
        @message
    </div>
}
<ul class="navbarList">
    <li class="logo"><a href="home">IndoorMap</a></li>
    <div style="display: flex;">
        <li class="navbarItem"><a href="home">Home</a></li>
        <li class="navbarItem"><a href="map">Map</a></li>
        <li class="navbarItem"><a href="usertable">Users</a></li>
        <li class="navbarItem"><a href="beaconstable">Beacons</a></li>
        <li class="navbarItem"><a href="pathsmap">Paths</a></li>
        <li class="navbarItem"><a class="active" href="logstable">Logs</a></li>
    <li class="navbarItem"><a href="infrastructuretable">Infrastructure</a></li>
    <li class="navbarItem"><a href="feedbacktable">Feedback</a></li>

    </div>
</ul>

<div class="center-container">
    <h1>Logs Table</h1>

    <!-- Search Input -->
    <div class="search-bar">
        <input type="text" @oninput="OnSearchInput" placeholder="Search by user, action, date, or hour..." class="form-control" />
    </div>

    <!-- Table with Filtered Data inside a Scrollable Container -->
    <div class="table-container">
        <table class="table table-striped m-0">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Action</th>
                    <th>Date</th>
                    <th>Hour</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in FilteredPeople)
                {
                    <tr>
                        <td>
                            @foreach(var user in Users)
                            {
                                if(person.usuarioId == user.usuarioId)
                                {
                                    @user.email
                                }
                            }
                        </td>
                        <td>@person.acao</td>
                        <td>@person.dataHora.ToString("dd/MM/yy")</td>
                        <td>@person.dataHora.ToString("HH:mm")</td>
                        <td><button type="button" class="btn btn-danger" @onclick="() => HandleDeleteSubmit(person.id)">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private bool _hasNavigated = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_hasNavigated)
        {
            var token = await localStorage.GetItemAsync<string>("authToken");
            if (string.IsNullOrEmpty(token))
            {
                _hasNavigated = true;
                NavigationManager.NavigateTo("/");
            }
        }
    }
    // Sample data for the table
    private List<Logs> Logs = new List<Logs>();
    private List<UserTable.UserGet> Users = new List<UserTable.UserGet>();
    protected override async Task OnInitializedAsync()
    {
        Users = await userService.GetUsersAsync();
        Logs = await LogService.GetLogsAsync();
    }

    // The search query from the input
    private string searchQuery = string.Empty;

    private void OnSearchInput(ChangeEventArgs e)
    {
        searchQuery = e.Value.ToString();
    }

    // Get the filtered people based on the search query
    private IEnumerable<Logs> FilteredPeople =>
        Logs.Where(p => p.acao.Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
                        p.dataHora.ToString("dd/MM/yy").Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
                        p.dataHora.ToString("HH:mm").Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ||
                        Users.Any(u => u.usuarioId == p.usuarioId && u.email.Contains(searchQuery, StringComparison.OrdinalIgnoreCase)));
    private string message;
    public async Task HandleDeleteSubmit(int id)
    {
        var success = await LogService.DeleteLogAsync(id);
        if (success)
        {
            startTimer("Log eliminada com sucesso!", "green");
            Logs = await LogService.GetLogsAsync();
        }
        else
        {
            startTimer("Erro ao eliminar log.", "red");
        }

    }
    private string messageColor = "green";
    private CancellationTokenSource? cts;
    private async Task startTimer(string msg, string Color)
    {
        cts?.Cancel();
        cts = new CancellationTokenSource();
        var token = cts.Token;
        message = msg;
        messageColor = Color;
        StateHasChanged();
        try
        {
            await Task.Delay(5000, token);
            message = "";
            StateHasChanged();
        }
        catch (TaskCanceledException)
        {

        }
    }
}
